@import "tailwindcss";

@theme {
  --color-primary: #a3e635;
  --color-background-dark: #0f172a;
  --color-background-light: #f8fafc;
  --color-accent-blue: #60a5fa;
  --color-accent-brown: #a16207;
}
